{
  "http_interactions": [
    {
      "recorded_at": "2020-11-26T14:43:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://atlas-glance.cern.ch/atlas/analysis/api/publications/search?activityId=26&referenceCode=HIGG"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"publications\":[{\"id\":\"12373\",\"ref_code\":\"HIGG-2018-51\",\"short_title\":\"Hbb VH to bb STXS (resolved) 2015-2018\",\"code\":\"HIGG-2018-51\"},{\"id\":\"12565\",\"ref_code\":\"HIGG-2019-14\",\"short_title\":\"HZZ H->mumu 2015-2018\",\"code\":\"HIGG-2019-14\"},{\"id\":\"12369\",\"ref_code\":\"HIGG-2018-52\",\"short_title\":\"Hbb VH to bb boosted 2015-2018\",\"code\":\"HIGG-2018-52\"},{\"id\":\"9823\",\"ref_code\":\"HIGG-2016-32\",\"short_title\":\"Hbb bH H to bb 2015+2016\",\"code\":\"HIGG-2016-32\"},{\"id\":\"12370\",\"ref_code\":\"HIGG-2019-01\",\"short_title\":\"HGam ttH(->gamgam) CP 2015-2018\",\"code\":\"HIGG-2019[...]
