{
  "http_interactions": [
    {
      "recorded_at": "2020-04-20T15:56:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://glance.cern.ch/atlas/analysis/api/publications/search?activityId=26&referenceCode=HIGG"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"publications\":[{\"id\":\"12373\",\"ref_code\":\"HIGG-2018-51\",\"short_title\":\"Hbb VH to bb STXS (resolved) 2015-2018\",\"code\":\"HIGG-2018-51\"},{\"id\":\"12028\",\"ref_code\":\"HIGG-2018-58\",\"short_title\":\"HZZ H->emu LFV + H->ee 2015-2018\",\"code\":\"HIGG-2018-58\"},{\"id\":\"12369\",\"ref_code\":\"HIGG-2018-52\",\"short_title\":\"Hbb VH to bb boosted 2015-2018\",\"code\":\"HIGG-2018-52\"},{\"id\":\"9823\",\"ref_code\":\"HIGG-2016-32\",\"short_title\":\"Hbb bH H to bb 2015+2016\",\"code\":\"HIGG-2016-32\"},{\"id\":\"12370\",\"ref_code\":\"HIGG-2019-01\",\"short_title\":\"HGam ttH(->gamgam) CP 2015-2018\",\"code\":\"HIGG-2019-01\"},{\"id\":\"11765\",\"ref_code\":\"HIGG-2018-57\",\"short_title\":\"HComb combination 2015+2016\\/7\",\"code\":\"HIGG-2018-57\"},{\"id\":\"12309\",\"ref_code\":\"HIGG-2018-29\",\"short_title\":\"HZZ H->4l differential xs 2015-2018\",\"code\":\"HIGG-2018-29\"},{\"id\":\"12307\",\"ref_code\":\"HIGG-2018-28\",\"short_title\":\"HZZ H->4l STXS+couplings 2015-2018\",\"code\":\"HIGG-2018-28\"},{\"id\":\"12368\",\"ref_code\":\"HIGG-2018-42\",\"short_title\":\"HGam H->Zgamma 2015-2018\",\"code\":\"HIGG-2018-42\"},{\"id\":\"11087\",\"ref_code\":\"HIGG-2017-13\",\"short_title\":\"HWW spin\\/CP with EFT and PO 2015+2016\",\"code\":\"HIGG-2017-13\"},{\"id\":\"12107\",\"ref_code\":\"HIGG-2018-14\",\"short_title\":\"HLep H->tautau CP in prod. 2015+2016\",\"code\":\"HIGG-2018-14\"},{\"id\":\"12167\",\"temp_ref_code\":\"CONF-HIGG-2020-04\",\"short_title\":\"Hbb VH to bb boosted 2015-2018\",\"code\":\"CONF-HIGG-2020-04\"},{\"id\":\"12147\",\"temp_ref_code\":\"CONF-HIGG-2018-31\",\"short_title\":\"HZZ H->4l mass 2015-2018\",\"code\":\"CONF-HIGG-2018-31\"},{\"id\":\"12168\",\"temp_ref_code\":\"CONF-HIGG-2020-05\",\"short_title\":\"Hbb VH to bb STXS (resolved) 2015-2018\",\"code\":\"CONF-HIGG-2020-05\"},{\"id\":\"4203\",\"temp_ref_code\":\"PUB-HIGG-2019-17\",\"short_title\":\"HLep H->tautau MMC performance\",\"co[...]
