{
  "http_interactions": [
    {
      "recorded_at": "2019-08-27T15:26:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "foo"
          ]
        },
        "method": "GET",
        "uri": "https://glance-stage.cern.ch/release/frapi/atlas/analysis/api/public/auth"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"message\":\"Invalid key.\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "url": "https://glance-stage.cern.ch/release/frapi/atlas/analysis/api/public/auth"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}