{
  "http_interactions": [
    {
      "recorded_at": "2020-11-26T14:43:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://atlas-glance.cern.ch/atlas/analysis/api/publications/HDBS-2018-33"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"publications\":[{\"id\":\"11946\",\"ref_code\":\"HDBS-2018-33\",\"short_title\":\"HBSM hh to bbWW 2015-2018\",\"assignments\":[{\"id\":\"AAkiufAAJAAAiWTAAE\",\"function\":{\"id\":\"coEditor\",\"label\":\"Contact Editor\"},\"group\":{\"id\":\"EDITOR\",\"label\":\"Analysis Team\"},\"member\":{\"id\":\"4541\",\"first_name\":\"Anyes\",\"last_name\":\"Taffard\"}},{\"id\":\"AAkiufAAJAAAiWTAAF\",\"function\":{\"id\":\"coEditor\",\"label\":\"Contact Editor\"},\"group\":{\"id\":\"EDITOR\",\"label\":\"Analysis Team\"},\"member\":{\"id\":\"5399\",\"first_name\":\"Alaettin Serhan\",\"last_name\":\"Mete\"}},{\"id\":\"AAkiufAAJAAAiWTAAH\",\"function\":{\"id\":\"coEditor\",\"label\":\"Contact Editor\"},\"group\":{\"id\":\"EDITOR\",\"label\":\"Analysis Team\"},\"member\":{\"id\":\"8657\",\"first_name\":\"Mats Joakim Robert\",\"last_name\":\"Olsson\"}},{\"id\":\"AAkiufAAJAAAiWTAAI\",\"function\":{\"id\":null,\"label\":\"Member\"},\"group\":{\"id\":\"EDITOR\",\"label\":\"Analysis Team\"},\"member\":{\"id\":\"9981\",\"first_name\":\"Daniel Joseph\",\"last_name\":\"Antrim\"}}],\"code\":\"HDBS-2018-33\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://atlas-glance.cern.ch/atlas/analysis/api/publications/HDBS-2018-33"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}