{
  "http_interactions": [
    {
      "recorded_at": "2020-11-26T14:43:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "username=foo&password=bar&grant_type=password&scope=openid&client_id=stare"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://auth.cern.ch/auth/realms/cern/protocol/openid-connect/token"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"error\":\"invalid_grant\",\"error_description\":\"Invalid user credentials\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "url": "https://auth.cern.ch/auth/realms/cern/protocol/openid-connect/token"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}